.logoYoutube {
    width: 5vh;
}

.avatar {
    width: 5vh;
}

.videos {
    display: flex;
    margin-top: 5vh;
    justify-content: space-around;
    justify-content: space-between;
    height: 50vh;
}

.body-white {
    background-color: white;
}

.body-dark {
    background-color: black;
}

.searchtexte {
    width: 55vh;
    min-height: 5vh;
    max-height: 5vh;
}

.searchclik {
    width: 10vh;
    min-height: 5vh;
    max-height: 5vh;
    border-color: crimson;
    background-color: white;
}

.white-texte {
    color: white;
}

.dark-texte {
    color: black;
}